@import "tailwindcss";
*{
  font-family: "Poppins", sans-serif;
}
header{
  background-image: url("https://wallpapercat.com/w/full/8/f/4/914063-1920x1080-desktop-full-hd-library-wallpaper-photo.jpg");
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main{
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.481);
}

#loginPage{
  background-image: url('https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?cs=srgb&dl=pexels-minan1398-694740.jpg&fm=jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}